:root {
  --admonition-background-color--info: rgba(68, 138, 255, 0.2);
  --admonition-background-color--note: rgba(0, 184, 212, 0.2);
  --admonition-background-color--warning: rgba(255, 145, 0, 0.2);
  --admonition-background-color--tip: rgba(0, 191, 165, 0.2);
  --admonition-background-color--question: rgba(100, 221, 23, 0.2);

  --admonition-border-color--info: rgb(68, 138, 255);
  --admonition-border-color--note: rgb(0, 184, 212);
  --admonition-border-color--warning: rgb(255, 145, 0);
  --admonition-border-color--tip: rgb(0, 191, 165);
  --admonition-border-color--question: rgb(100, 221, 23);

  --admonition-icon--info: url('/images/admonition-icons/info.svg');
  --admonition-icon--note: url('/images/admonition-icons/note.svg');
  --admonition-icon--warning: url('/images/admonition-icons/warning.svg');
  --admonition-icon--tip: url('/images/admonition-icons/tip.svg');
  --admonition-icon--question: url('/images/admonition-icons/question.svg');

  --admonition-icon-dimension: 20px;
}

.admonition {
  background-color: var(--admonition-background-color--info);
  border: 0.2rem solid var(--admonition-border-color--info);
  border-radius: 0.3rem;

  //border-left-width: 0.5rem;

  padding: 1em 1.5em;
}

.admonition-title {
  font-weight: bold;
  font-size: 1.2em;
}

.admonition-icon::before {
  content: '';

  background-color: var(--admonition-border-color--info);

  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-image: var(--admonition-icon--info);

  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: var(--admonition-icon--info);

  display: inline-block;
  margin-right: 0.4em;
  vertical-align: bottom;

  height: 1.5em;
  width: 1.5em;
}

.admonition.note {
  background-color: var(--admonition-background-color--note);
  border-color: var(--admonition-border-color--note);
}

.admonition-icon.note::before {
  background-color: var(--admonition-border-color--note);

  mask-image: var(--admonition-icon--note);
  -webkit-mask-image: var(--admonition-icon--note);
}

.admonition.warning {
  background-color: var(--admonition-background-color--warning);
  border-color: var(--admonition-border-color--warning);
}

.admonition-icon.warning::before {
  background-color: var(--admonition-border-color--warning);

  mask-image: var(--admonition-icon--warning);
  -webkit-mask-image: var(--admonition-icon--warning);
}

.admonition.tip {
  background-color: var(--admonition-background-color--tip);
  border-color: var(--admonition-border-color--tip);
}

.admonition-icon.tip::before {
  background-color: var(--admonition-border-color--tip);

  mask-image: var(--admonition-icon--tip);
  -webkit-mask-image: var(--admonition-icon--tip);
}

.admonition.question {
  background-color: var(--admonition-background-color--question);
  border-color: var(--admonition-border-color--question);
}

.admonition-icon.question::before {
  background-color: var(--admonition-border-color--question);

  mask-image: var(--admonition-icon--question);
  -webkit-mask-image: var(--admonition-icon--question);
}

.admonition-content > *:last-child {
  margin-bottom: 0;
}
