{% if totalPages > 1 %}
  <nav class="pagination">
    <ul>
      <li class="links previous">
        {% if previousHref %}
          <a href="{{ previousHref }}">
            <span class="arrow">{{ phrases.left_arrow_symbol }}</span>{{ phrases.newer }} <span class="articles">{{ phrases.articles }}</span>
          </a>
        {% else %}
          <span class="inactive-link">
            <span class="arrow">{{ phrases.left_arrow_symbol }}</span>{{ phrases.newer }} <span class="articles">{{ phrases.articles }}</span>
          </span>
        {% endif %}
      </li>
      <li class="links next">
      {% if nextHref %}
        <a href="{{ nextHref }}">
          {{ phrases.older }} <span class="articles">{{ phrases.articles }}</span> <span class="arrow">{{ phrases.right_arrow_symbol }}</span>
        </a>
      {% else %}
        <span class="inactive-link">
          {{ phrases.older }} <span class="articles">{{ phrases.articles }}</span> <span class="arrow">{{ phrases.right_arrow_symbol }}</span>
        </span>
      {% endif %}
    </li>
  </ul>
</nav>
{% endif %}